# dependencies
node_modules/
**/node_modules/

# builds
/dist/
/build/
**/dist/
**/build/

# netlify
.netlify/

# env and secrets
.env
.env.*
!.env.example

# logs and temp
*.log
logs/
.cache/
.tmp/
.tmp*/
tmp/
.DS_Store
